/* CSS for the game page. */

body {
    margin: 1px;
}

<<<<<<< HEAD
=======


>>>>>>> 0b3a34ea97aa440c7ebf6f8f18828d5ea6cb7cf7
#box {
    background-color: red;
    height: 20px;
    width: 20px;
<<<<<<< HEAD
    top: 850px;
=======
    top: 700px;
>>>>>>> 0b3a34ea97aa440c7ebf6f8f18828d5ea6cb7cf7
    position: absolute;

}

#fpsDisplay {
    width: 100px;
}

#mouseCoords {
    width: 200px;
}

canvas {
    border: 1px solid black;
    background-color: #91DFD0;

}

<<<<<<< HEAD
/* Hide by default */
.hide {
    display: none;
}

/* Show by default */
.show {
    display: block;

    border: 1px solid red;
    width: 100px;
}

=======
>>>>>>> 0b3a34ea97aa440c7ebf6f8f18828d5ea6cb7cf7
/* Centering block object like divs */
.center-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Centering inline stuff */
.center-text {
    text-align: center;
}

/* Don't highlight anything on click-and-drag. */
:not(input):not(textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}